@model ErrorViewModel
@{
    ViewData["Title"] = "Server error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<a class="btn btn-primary mt-3" href="@Url.Action("Index", "Home")"> Go back to the main page </a>
